
body {
  background-color: #B8944D;
  font-family: "Monaco";
}

.tictactoe-game, table
{
  font-size: 160px;
  width: 50%;
  border-collapse: collapse;	/* merges table borders into solid lines */
  margin:0px auto;				/* moves table down from previous element */
  background-color:#00FFCC;		/* table background color */
  text-align:center;			/* center aligns text inside table */
  padding:0px 70px;			/* adjusts vertical + horizontal padding inside cells */
}

th, td
{
  height: 5px;
  font-size: 160px;
  border-style:solid;			/* creates interior borders */
  border-width:10px;				/* thickness attribute for interior borders */
}


/*
  border-color: black;

  font-size:100px;
  padding:10px 5px;
  border-style:solid;
  border-width:100px;
  border-color:black;
  color:#594F4F;
  background-color:#E0FFEB;


  overflow:hidden;
  border-color:#bbb;
  color:#493F3F;

    width: 50%;
  border: 10px solid black;		/* defines border thickness and color.  Solid required 
  border-collapse: collapse;	/* merges table borders into solid lines 
  margin:0px auto;				/* moves table down from previous element 
  background-color:#00FFCC;		/* table background color 
  text-align:center;			/* center aligns text inside table 
  padding:0px 70px;			/* adjusts vertical + horizontal padding inside cells 
*/